.element__like {
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  width: 22px;
  height: 19px;
  background: url(../../../images/like.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
}
.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
